<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hash cruncher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css" >
		.box {
		  display: block;
		  width: 75%;
		  height: 50%;
		  background-color: #73AD21;
		  border-radius: 25px;
		  margin: 0 auto;
		  padding: 3%;
		}

		.box p {
		  font-family: 'Helvetica', Arial, sans-serif;
		  font-size: 2em;
		  color: white;
		  text-align: center;
		}
    </style>
</head>
<body>
	<div class="box">
    	<p th:text="${result}" />
    </div>
    <br />
	<div th:styleappend="${production}?'background-color: #ff4d4d':'background-color: #ffd11a'" class="box" th:if="${verbose}">
	    <p th:text="'Hash: ' + ${hash}" />
    	<p th:text="'Time: ' + ${time} + ' ms'" />
    	<p th:text="'Instance: ' + ${instance}" />
    </div>
</body>
</html>